{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <head>
    <meta charset="utf-8" />
    <title>Lingscars - About</title>
  </head>

  <body>
    <header>
      <div id="page-logo">
        <a href="/">LINGSCARS</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/vehicles/">Vehicles</a></li>
        </ul>
      </nav>
    </header>

    <main id="about-section">
      <img src="{% static 'ling_tropical.jpg' %}" id="banner-image" alt="Ling In Tropics" />
      <h1>
        About Ling
      </h1>
      <p>
        Ling is hardest working car leasing provider, Ling runs LINGsCARS, and it is the UK's favourite car leasing website.
        Don't be deceived... I may be a scruffy Chinese girl, but I have more happy new-car customers and supply more new cars than many of the anonymous (and some big-name!) leasing companies out there, combined.
      </p>

    </main>

    <footer>
    </footer>
  </body>
</html>