{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <head>
    <meta charset="utf-8" />
    <title>Lingscars - Vehicles</title>
  </head>

  <body BGCOLOR="#eff0f0">
    <header>
      <div id="page-logo">
        <a href="/">Lingscars</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <ul id="vehicles-ul">
          <li class="vehicles-li">
            <img src = "{% static 'new_mercedes.jpg' %}" alt="Mercedes"/>
            <p><span>Mercedes</span> <strong class = "model">E-Class</strong></p>
            <div>
                <p>BHP : <strong>150</strong></p>
                <p>Type : <strong>Automatic</strong></p>
                <p>Fuel : <strong>Diesel</strong></p>
            </div>
          </li>

          <li class="vehicles-li">
            <img src = "{% static 'new_tesla.jpg' %}" alt="Tesla"/>
            <p><span>Tesla</span> <strong class = "model">Model Y</strong></p>
            <div>
                <p>BHP : <strong>150</strong></p>
                <p>Type : <strong>Automatic</strong></p>
                <p>Fuel : <strong>Diesel</strong></p>
            </div>
          </li>

          <li class="vehicles-li">
            <img src = "{% static 'new_renault.jpg' %}" alt="Renault"/>
            <p><span>Renault</span> <strong class = "model">Clio</strong></p>
            <div>
                <p>BHP : <strong>150</strong></p>
                <p>Type : <strong>Automatic</strong></p>
                <p>Fuel : <strong>Diesel</strong></p>
            </div>
          </li>
      </ul>

      <form id = "contactContent">
        <div>
            <label>
              <span>Firstname</span>
              <input class="generalInput" type="text" name="name" placeholder="Firstname" required><br>
            </label>
        </div>

        <div>
          <label>
            <span>Lastname</span>
            <input class="generalInput" type="text" name="lastname" placeholder="Lastname" required><br>
          </label>
        </div>

        <div>
          <label>
            <span>Date</span>
            <input class="generalInput" type="date" name="date" required><br>
          </label>
        </div>

        <div>
          <label>
            <span>Email</span>
            <input id ="email" class="generalInput" type="text" name="email" placeholder="Email Address" required><br>
          </label>
        </div>

        <button id = "submit" type="submit" value="Submit">Submit</button>

      </form>

    </main>

    <footer>
    </footer>
  </body>
</html>
