{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html margin="0">
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <head>
    <meta charset="utf-8" />
    <title>Lingscars - Home</title>
  </head>

  <body BGCOLOR="#eff0f0" leftmargin="0" rightmargin="0">
    <header>
      <div id="page-logo">
        <a href="/"><span id = "logo">LINGS</span>CARS</a>
      </div>
      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/vehicles/">Vehicles</a></li>
        </ul>
      </nav>
    </header>

      <img src="{% static 'ling_banner.jpeg' %}" id="banner-image" alt="Pic of Cars" />

    <main>
      <div class="cardholder">
        <div class="card" style="width: 18rem">
          <img src="{% static 'new_mercedes.jpg' %}" class="card-img-top" alt="Mercedes Car" />
          <div class="card-body">
            <h5 class="card-title">Mercedes Collection</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/vehicles/" class="btn btn-primary">Show More</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="{% static 'new_renault.jpg' %}" class="card-img-top" alt="Renault Car" />
          <div class="card-body">
            <h5 class="card-title">Renault Collection</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/vehicles/" class="btn btn-primary">Show More</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="{% static 'new_tesla.jpg' %}" class="card-img-top" alt="Tesla Car" />
          <div class="card-body">
            <h5 class="card-title">Tesla Collection</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/vehicles/" class="btn btn-primary">Show More</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
