{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <head>
    <meta charset="utf-8" />
    <title>Lingscars - Home</title>
  </head>

  <body>
    <header>
      <div id="page-logo">
        <a href="/index.html">Lingscars</a>
      </div>
      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/vehicles/">Vehicles</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo nobis est
        possimus voluptatibus, sint, dolor iure molestiae inventore vitae fuga
        ipsa excepturi. Voluptate aperiam neque facere ratione sapiente totam
        suscipit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
        laboriosam nemo, voluptate asperiores deserunt rem, quo nesciunt fuga
        aut enim eum in placeat magni architecto esse ratione! Vitae, quibusdam
        numquam.
      </p>
      <div class="cardholder">
        <div class="card" style="width: 18rem">
          <img src="{% static 'new_mercedes.jpg' %}" class="card-img-top" alt="Mercedes Car" />
          <div class="card-body">
            <h5 class="card-title">Mercedes Collection</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="{% static 'new_renault.jpg' %}" class="card-img-top" alt="Renault Car" />
          <div class="card-body">
            <h5 class="card-title">Renault Collection</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img src="{% static 'new_tesla.jpg' %}" class="card-img-top" alt="Tesla Car" />
          <div class="card-body">
            <h5 class="card-title">Tesla Collection</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </main>

    <footer>
    </footer>
  </body>
</html>
