{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html margin="0">
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  <head>
    <meta charset="utf-8" />
    <title>Lingscars - Home</title>
  </head>

  <body BGCOLOR="#eff0f0" leftmargin="0" rightmargin="0">
    <header>
      <div id="page-logo">
        <a href="/"><span id = "logo">LINGS</span>CARS</a>

      </div>
      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/vehicles/">Vehicles</a></li>
        </ul>
      </nav>
    </header>

      <img src="{% static 'ling_banner.jpeg' %}" id="banner-image" alt="Pic of Cars" />
    <main>
      <div class="cardholder">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Mercedes Collection</h5>
            <p class="card-text">
              Check out our latest collection of Mercedes. Here you will find the best luxury vehicles, manual and electric.
            </p>
            <a href="/vehicles/" class="btn btn-primary">Show More</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Renault Collection</h5>
            <p class="card-text">
              Check out our latest collection of Renault. Here you will find a wide range of vehicles, cheap and expensive.
            </p>
            <a href="/vehicles/" class="btn btn-primary">Show More</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Tesla Collection</h5>
            <p class="card-text">
              Check out our latest collection of Teslas. Here you will find the best electric cars currently on the market.
            </p>
            <a href="/vehicles/" class="btn btn-primary">Show More</a>
          </div>
        </div>
      </div>
    </main>
      <footer>
        <footer>
            <div id="footer">
              <p>15, Riverside Studios, Newcastle Business Park, Amethyst Rd, Newcastle, United Kingdom</p>
              <p>Telephone: +44 191 460 9444</p>
              <p>Opening hours: Monday-Friday - 8am to 6pm</p>
            </div>
      </footer>
      </footer>
  </body>
</html>
