<! \assignment\static\main.css !>

ul {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 5rem;
	width: 100%;
	box-sizing: border-box;
}

header ul {
	display: flex;
}

header li {
	margin-left: 5rem;
	list-style: none;
}

header a {
	color: rgb(170, 170, 162);
	text-decoration: none;
	font-size: 1.5rem;
	padding: 1rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

#page-logo a {
	font-size: 3rem;
	font-weight: bold;
	color: rgb(204, 153, 255);
}

header nav a:hover {
	color: rgb(77, 77, 77);
	background-color: rgb(196, 196, 175);
}

#banner-image {
	height: 23rem;
	width: 100%;
	margin: auto;
}

p {
	color: rgb(51, 51, 51);
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 4px;
}

.cardholder {
	display: flex;
	justify-content: space-between;
	margin: 5rem;
}

.card-body {
	background-color: #a366ff;
	padding: 3rem 1rem;
	border-radius: 6px;
	box-shadow: 2px 4px 8px rgb(68, 67, 67);
    transition: transform .2s;
}

.card-body:hover {
    transform: scale(1.1);
}

.card-title {
	font-size: 1.5rem;
	color: #f2f2f2;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	margin: 1rem 0;
}

.card-text {
    padding: 1rem 0;
}

.card-body a {
	text-decoration: none;
	background-color: rgb(133, 133, 224);
	padding: 0.5rem 1rem;
	color: #ccf5ff;
	font-size: 1rem;
	border-radius: 8px;
	box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

.card-body a:hover {
	background-color: rgb(133, 125, 224);
}

footer {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
}

.container {
    width: 70%;
    text-align: center;
    padding: 2% 10%;
    margin: auto;
}

#vid {
    height: 20rem;
    width: 35rem;
}

#vehicles-ul {
    list-style: none;
    padding-top: 5%;
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
}

.vehicles-li {
    margin: 0 20px;
    text-transform: uppercase;
}

.vehicles-li p {
      text-align: center;
      font-size: 24px;
      color: rgb(124, 123, 123);
      margin: 10px 0;
}

.vehicles-li img {
    transition: transform .2s;
}

.vehicles-li img:hover {
    transform: scale(1.1);
}

span {
    font-weight: bold;
}

.vehicles-li img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}

div strong {
  color: #809fff;
}

.model {
  color: rgb(0, 160, 117);
}

#contactContent
{
	text-size: 5rem;
	font-weight: bold;
	width: 80%;
	height: 100%;
	padding: 1.5rem;
	margin: auto;
	color: white;
	font-size: 30px;
	display: flex;
	background: linear-gradient(10deg, rgb(128, 128, 255), rgb(100, 100, 255));
	border-radius: 6px;
	box-shadow: 2px 4px 8px rgb(68, 67, 67);
	justify-content: space-between;
}

#submit {
    background-color: #15cc71;
    border: none;
    border-radius: 6px;
    height: 3rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    font-size: 1rem;
}

input {
    background-color: #eff0f0;
    border: none;
    border-radius: 6px;
    padding: 0.5rem;
}

input:hover,
input:focus {
    background-color: #C9C9C9;
}
